<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJzD-yU5U2xacHudb74jrD_PR13p1kseI</string>
	<key>GCM_SENDER_ID</key>
	<string>882974995452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.touchwood.auction</string>
	<key>PROJECT_ID</key>
	<string>action-demo-34fef</string>
	<key>STORAGE_BUCKET</key>
	<string>action-demo-34fef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882974995452:ios:12caa50db815bd97353879</string>
</dict>
</plist>